/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

header {
  grid-row: 1 / 2;
  background: black;
  color: white;
  padding: 2vw;
  text-align: center;
}

main {
  grid-row: 2 / 3;
  padding: 2vw;
  margin: 2vw;
}

main:not([class]) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gas-price {
  grid-column: 1 / 2;
}

.eth-price {
  grid-column: 2 / 3;
}

.usd-price {
  grid-column: 3 / 4;
}

.trend {
  grid-column: 4 / 5;
}

.column-header {
  text-align: center;
  font-size: larger;
  background-color: beige;
}

nav a {
  margin: 0.3rem 1rem 0 0;
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 0.4rem 0.4rem;
  text-decoration: none;
  line-height: 1.1;
  color: black;
}
